name: CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.6'

      - name: Go mod tidy
        run: go mod tidy

      # - name: Run tests
      #   run: go test ./...

      - name: Build binary
        run: go build ./cmd/api
